<ul>
  <li><%= link_to 'How to name software products', '/standards/naming-software-products.html' %></li>
  <li><%= link_to 'Choosing a programming language', '/standards/programming-languages.html' %></li>
  <li><%= link_to 'Style guides', '/manuals/style-guides.html' %></li>
  <li><%= link_to 'How to manage third party software dependencies', '/standards/tracking-dependencies.html' %></li>
  <li><%= link_to 'Building accessible services', '/manuals/accessibility.html' %></li>
  <li><%= link_to 'Pair programming', '/standards/pair-programming.html' %></li>
  <li><%= link_to 'Supporting different browsers', '/manuals/browser-support.html' %></li>
  <li><%= link_to 'How to optimise frontend performance', '/standards/optimise-frontend-perf.html' %></li>
  <li><%= link_to 'Documenting architecture decisions', '/standards/architecture-decisions.html' %></li>
  <li><%= link_to 'Threat modelling', '/standards/threat-modelling.html' %></li>
</ul>
