<ul>
  <li><%= link_to 'How to store source code', '/standards/source-code/index.html' %></li>
  <li><%= link_to 'Use GitHub', '/standards/source-code/use-github.html' %></li>
  <li><%= link_to 'Working with git', '/standards/source-code/working-with-git.html' %></li>
  <li><%= link_to 'Using Pull Requests', '/standards/pull-requests.html' %></li>
  <li><%= link_to 'Writing READMEs', '/manuals/readme-guidance.html' %></li>
  <li><%= link_to 'Writing release notes', '/manuals/release-notes.html' %></li>
  <li><%= link_to 'Licensing', '/manuals/licensing.html' %></li>
  <li><%= link_to 'Use continuous delivery', '/standards/continuous-delivery.html' %></li>
</ul>
