<ul>
  <li><%= link_to 'How to host a service', '/standards/hosting.html' %></li>
  <li><%= link_to 'How to host a service', '/standards/hosting.html' %></li>
  <li><%= link_to 'How to manage DNS records for your service', '/standards/dns-hosting.html' %></li>
  <li><%= link_to 'Use configuration management', '/standards/configuration-management.html' %></li>
  <li><%= link_to 'Use a web application firewall (WAF)', '/standards/web-application-firewall.html' %></li>
  <li><%= link_to 'Security overview for websites', '/manuals/security-overview-for-websites.html' %></li>
  <li><%= link_to 'Tagging cloud resources', '/standards/cloud-tagging.html' %></li>
  <li><%= link_to 'Working with AWS accounts', '/manuals/working-with-aws-accounts.html' %></li>
  <li><%= link_to 'Working with Azure accounts', '/standards/working-with-azure-accounts.html' %></li>
</ul>
