<ul>
  <li><%= link_to 'Understand the risks to your service', '/standards/understanding-risks.html' %></li>
  <li><%= link_to 'How to track technical debt', '/standards/technical-debt.html' %></li>
  <li><%= link_to 'How to manage access to your third-party service accounts', '/standards/accounts-with-third-parties.html' %></li>
  <li><%= link_to 'How to store credentials', '/standards/storing-credentials.html' %></li>
  <li><%= link_to 'How to do penetration testing', '/standards/how-to-do-penetration-tests.html' %></li>
  <li><%= link_to 'Performance testing', '/standards/performance-testing.html' %></li>
  <li><%= link_to 'How to send email notifications to users', '/standards/sending-email.html' %></li>
  <li><%= link_to 'How MHCLG provides user support', '/standards/user-support.html' %></li>
  <li><%= link_to 'Incident management', '/standards/incident-management.html' %></li>
  <li><%= link_to 'Disaster Recovery', '/standards/disaster-recovery.html' %></li>
  <li><%= link_to 'Principle of least privilege', '/standards/principle-least-access.html' %></li>
  <li><%= link_to 'Secret auditing', '/standards/secrets-auditing.html' %></li>
  <li><%= link_to 'Git pre-commit', '/standards/pre-commit-hooks.html' %></li>
  <li><%= link_to 'Vulnerability disclosure and security.txt', '/standards/vulnerability-disclosure.html' %></li>
</ul>
