---
title: The MHCLG Way
layout: core
---

<% content_for :sidebar do %>
<ul>
    <li><a href='#the-mhclg-way'>The MHCLG Way</a>
        <ul>
            <li><a href='#about-the-mhclg-way'>About the MHCLG Way</a></li>
            <li><a href='#how-to-add-new-guidance'>How to add new guidance</a></li>
            <li><a href='#the-mhclg-way-slack-channel'>The MHCLG Way Slack channel</a></li>
        </ul>
    </li>
    <li><a href="#software-development">Software development</a>
        <%= partial 'partials/nav-software-development' %>
    </li>
    <li><a href="#version-control-and-deployments">Version control and deployments</a>
        <%= partial 'partials/nav-version-control-deployments' %>
    </li>
    <li><a href="#hosting-and-infrastructure">Hosting and infrastructure</a>
        <%= partial 'partials/nav-hosting-infrastructure' %>
    </li>
    <li><a href="#logging-monitoring-and-alerting">Logging, monitoring and alerting</a>
        <%= partial 'partials/nav-logging-monitoring-alerting' %>
    </li>
    <li><a href="#operating-a-service">Operating a service</a>
        <%= partial 'partials/nav-operating-a-service' %>
    </li>
</ul>
<% end %>

# <%= current_page.data.title %>

The MHCLG Way guides teams to build and operate brilliant, cost-effective digital services.

It documents the specific technology, tools and processes that Ministry of Housing, Communities and Local Government (MHCLG) teams use.

It’s not intended as guidance for anyone working outside MHCLG - you’ll find that in the [Service Manual](https://www.gov.uk/service-manual).

## About The MHCLG Way

The MHCLG Way shares agreed ways of working so service teams benefit from:

* using similar tools
* central procurement
* costs savings as new teams will be cheaper to spin up

The MHCLG Way makes it easier for projects to get started while still giving teams flexibility to do something different if their project needs it.

The MHCLG Way includes consistent:

* terminology
* ways of working
* technology and tools
* measures

All decisions are made in alignment with [Service Manual](https://www.gov.uk/service-manual), which covers service design more broadly, and the [Technology Code of Practice](https://www.gov.uk/guidance/the-technology-code-of-practice).

Products at MHCLG in discovery or alpha development phases must follow [agile delivery principles](https://www.gov.uk/service-manual/agile-delivery) and also have the option to follow the standards in this repository.

Products in beta and live phases must follow both the instructions set out in the Service Manual and the standards in this repository.
They must be [secure by design](https://www.security.gov.uk/guidance/secure-by-design/).

## How to add new guidance

Contribute to this repository by making a pull request in [GitHub](https://github.com/communitiesuk/mhclg-way) for discussion in the MHCLG Way Slack channel (#mhclg-way).

You can also read the service manual to find out about
[learning about and writing user needs](https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs).

You can also read the MHCLG intranet to find out about
[writing useful and inclusive content for your users] (https://intranet.communities.gov.uk/task/content-design-guidance/).

Thank you for your contributions as we develop this repository.

### Submission template

When you create a new Markdown file follow this pattern and then make a pull request:

```markdown
---
title: Thing you’l writing a standard about
last_reviewed_on: yyyy-mm-dd
review_in: 6 months
---

# <%%= current_page.data.title %>

Introduction of a couple of paragraphs to explain why the thing you’l
writing a standard about is important.

## User needs

Why do we do this thing? Who is it helping?

## Principles

What broad approaches do we follow when we do this thing?

## Tools

What specific bits of software (commercial or open source) do
we use to help us do this thing?
```

## The MHCLG Way Slack channel

Use the MHCLG Way Slack channel (#mhclg-way) can be used to raise and discuss existing recommendations and guidance in this living document, and to suggest new topics to cover as the department's technology evolves.
